.posterImage{
  height: 20rem;
  width: 15rem;
  margin-top: 2rem ;
}

.title{
  max-width: 15rem;
  line-break:strict;
  word-break: break-all;
}

.subtitle{
  max-width: 15rem;
  line-break:strict;
  word-break: break-all;
}